body
{
	background-color: white
}

h1
{
	font-size: 50px;
	font-family: Helvetica;
}

p
{
	font-size: 50px;
	font-family: Helvetica;
}

#container
{
	width: 1080px;
	align-content: center;
	background-color: white;
	border-style: solid, width: 3px, color: #DDDDDD;
}

#top-bar
{
	height: 145px;
	background-image: url("images/Top-Bar.png");
	background-repeat: no-repeat;
	text-align: center;
}

#follower-count
{
	height: 355px;
	background-image: url("images/Follower-Count.png");
}

#profile-picture
{
	border-radius: 50%;
	height: 255px;
	margin-top: 54px;
	margin-left: 58px;
}

.ig-image
{
	display: inline-block;
	height: 325px;
	width: 325px;
	padding: 10px;
}

#zoom
{
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

#zoom:hover 
{
    transform: scale(1.5)
}

#zoom-video
{
	transition: transform .2s; /* Animation */
    margin: 0 auto;
}

#zoom-video:hover
{
	transform: scale(1.5)
	
}
