body
{
	background-color: white
}

#container
{
	width: 1080px;
	background-color: white;
	border-style: solid, width: 3px, color: #DDDDDD;
	align-self: center;
}

#top-bar
{
	height: 145px;
	background-image: url("images/Top-Bar.png");
	background-repeat: no-repeat;
	text-align: center;
	font-family: Helvetica;
}

#username
{
	font-family: Helvetica;
	font-size: 48px;
	padding: 48px;
}

#follower-count
{
	height: 355px;
	background-image: url("images/Follower-Count.png");
	background-repeat: no-repeat;
}

#profile-picture
{
	border-radius: 50%;
	height: 255px;
	margin-top: 53px;
	margin-left: 58px;
}

#bio
{
	font-family: Helvetica;
	font-size: 35px;
}

#photo-bar
{
	height: 140px;
	background-image: url("images/Photo-Bar.png");
	background-repeat: no-repeat;
}

#pictures
{
	height: 720px;
	width: 1080px;
	background-repeat: no-repeat;
}

.ig-image
{
	display: inline-block;
	height: 325px;
	width: 325px;
	padding: 10px;
	background-size: cover;
}

video
{
	cursor: pointer;
	display: inline-block;
	height: 325px;
	width: 325px;
	padding: 10px;
}

#bottom-bar
{
	height: 135px;
	background-image: url("images/Bottom-Bar.png");
	background-repeat: no-repeat;
}